body{
    text-align:center;
  
    margin:0;
}
h1{
  
    margin:0px auto 0 auto;
    padding-top:80px;
    font-family: 'Sacramento', cursive;
   
    font-size: 5rem;
    color:#243A73;
}
.bottomCloud{
    position: absolute;
    left: 280px;
    top:145px;
}


.topCloud{
    position: absolute;
    top:20px;
    right:300px;

}
.topcontainer{
    margin:0;
    background: rgb(251,214,210);
    background: linear-gradient(180deg, rgba(251,214,210,1) 17%, rgba(232,249,253,1) 93%);
}
.profilepic{
    width:175px;
    float:left;
    margin-right: 15px;
  
}
.myskills{
    width:100px;
    float:right;
    margin-left: 15px;
}
.snacks{
    width:200px;
    float:left;
    margin-right:15px;
    

}
.profile{
   text-align: left;
   width:40%;
   margin : 100px auto 100px auto;
   
   
}
.love{
    width:40%;
    margin:100px auto ;
    text-align: left;
}
.skills{
    width: 40%;
    margin:100px auto;
    text-align:left;

    

   
}
p{
    line-height: 2;
}

hr{
    border-style: dotted;
    border-width: 8px;
    width: 50px;
    border-color:#243A73 ;
    border-top:8px;
}
hr:hover{
    border-width: 10px;
    border-color:rgb(124, 9, 99)
}
.btn{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: rgb(47, 1, 100);
   padding:5px;
   margin : 35px;
   border-color:purple;
   border-radius: 12px;
    background: rgb(245,172,235);
background: linear-gradient(180deg, rgba(245,172,235,1) 17%, rgba(148,255,252,1) 93%);
}
.btn:hover{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
   padding:8px;
   margin : 20px;
   border-color:rgb(9, 4, 58);
   border-radius: 12px;
    background: rgb(245,172,235);
background: linear-gradient(0deg, rgba(245,172,235,1) 17%, rgba(148,255,252,1) 93%);
}
.bottomcontainer{

    background-color: #243A73;
    padding:15px;
}
h3{
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    color:#243A73;
}
.beginner{
    font-size: 3rem;
    color:#243A73;
    font-family: 'Sacramento', cursive;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font-size: 1rem;
}
